.body {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}


@media screen and (min-width: 1280px) {
    .body{
        justify-content: start;
    }
}