.App {
  text-align: center;
  background-color: #282c34;
}

.App-body {
  min-height: calc(100vh - 3.4em);
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Return-main-menu {
  font-size: .8em;
  margin: 1em 0;
}

.Return-main-menu a{
  color:white;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
